<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head-section(titulo='Editar')}">
</head>
<body>

<div th:replace="~{fragmentos/nav::nav-section}"/>

<div class="container mt-4">
    <div class="container text-center" style="margin:30px">
        <h3>Editar Contacto</h3>
    </div>
    <form action="/editar" th:object="${contacto}" method="post" class="row g-3">
        <input type="hidden" th:field="*{idContacto}"/>
        <div class="col-md-6">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre"
                   name="nombre" placeholder="Ingrese su Nombre"
            th:field="*{nombre}">
        </div>
        <div class="col-md-6">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido"
                   name="apellido" placeholder="Ingrese su Apellido"
                   th:field="*{apellido}">
        </div>
        <div class="col-md-6">
            <label for="celular" class="form-label">Celular</label>
            <input type="text" class="form-control" id="celular"
                   name="celular" placeholder="+541122548796"
                   th:field="*{celular}">
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email"
                   name="email" placeholder="hola@correo.com"
                   th:field="*{email}">
        </div>
        <div class="col-md-10">
            <label for="domicilio" class="form-label">Domicilio</label>
            <input type="text" class="form-control" id="domicilio"
                   name="domicilio" placeholder="Calle 123"
                   th:field="*{domicilio}">
        </div>
        <div class="col-md-2">
            <label for="altura" class="form-label">Altura</label>
            <input type="number" class="form-control" id="altura"
                   name="altura" placeholder="456"
                   th:field="*{altura}">
        </div>
        <div class="col-md-10">
            <label for="localidad" class="form-label">Localidad</label>
            <input type="text" class="form-control border border-grey" id="localidad"
                   name="localidad" placeholder="Buenos Aires, Santiago del Estero, etc"
                   th:field="*{localidad}">
        </div>
        <div class="col-md-2">
            <label for="codigoPostal" class="form-label">Codigo Postal</label>
            <input type="number" class="form-control" id="codigoPostal"
                   name="codigoPostal" placeholder="4322"
                   th:field="*{codigoPostal}">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary mt-4">Modificar Contacto</button>
            <a href="/" class="btn btn-danger mt-4">Regresar</a>
        </div>
    </form>
</div>

<div th:replace="~{fragmentos/footer::footer-section}"/>
</body>
</html>