<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head::head-section(titulo='Inicio')}">
</head>
<body>

<div th:replace="~{fragmentos/nav::nav-section}"/>

<div class="container-fluid">
    <div class="container text-center" style="margin:30px">
        <h3>Agenda de Contactos</h3>
    </div>
    <div class="container-fluid">
        <table class="table table-hover text-center container-fluid">
            <thead class="table-dark text-center">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Celular</th>
                <th scope="col">Email</th>
                <th scope="col">Domicilio</th>
                <th scope="col">Altura</th>
                <th scope="col">Localidad</th>
                <th scope="col">Cod.Postal</th>
                <th scope="col">Maps</th>
                <th scope="col">Opciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contacto: ${contactos}">
                <th th:text="${contacto.idContacto}" scope="row"></th>
                <td th:text="${contacto.nombre}"></td>
                <td th:text="${contacto.apellido}"></td>
                <td th:text="${contacto.celular}"></td>
                <td th:text="${contacto.email}"></td>
                <td th:text="${contacto.domicilio}"></td>
                <td th:text="${contacto.altura}"></td>
                <td th:text="${contacto.localidad}"></td>
                <td th:text="${contacto.codigoPostal}"></td>
                <td>
                    <a th:href="${contacto.GoogleMaps}" target="_blank">Ver ubicacion en Google Maps</a>
                </td>
                <td class="text-center">
                    <div class="container-fluid">
                        <a th:href="@{/editar/{id}(id=${contacto.idContacto})}"
                        class="btn btn-warning btn-sm me-3">Editar</a>
                        <a th:href="@{/eliminar/{id}(id=${contacto.idContacto})}"
                           class="btn btn-danger btn-sm">Eliminar</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="~{fragmentos/footer::footer-section}"/>

</body>
</html>